body {
    margin: 0;
    background: #02040F;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: white;
    overflow: hidden;
}

#header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-sizing: border-box;
}

#warnings {
    color: #FF6464;
    white-space: pre-line;
}

#timestamp {
    color: white;
}

#jupiterCanvas {
    width: 100vw;
    height: 60vh;
    display: block;
}
